NODE_ENV="production"
PORT=3000             # default 3000 

BOT_TOKEN=""          # Bot token (from @BotFather)  
ADMIN_ID=""           # Your telegram id (from @Getmyid_bot, @username_to_id_bot or etc.)

DATABASE_URL=""       # Database url
ENCRYPTION_KEY=""     # Random key (at least 32 characters)

BASE_URL="https://"   # Base url for webhook
WEBHOOK_SECRET=""     # Secret path to webhook